{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false,
  "arrowParens": "avoid",
  "importOrder": [
    "^next",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/apis/(.*)$",
    "^@/components/(.*)$",
    "^@/constants/(.*)$",
    "^@/types/(.*)$",
    "^@/public/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
